body,
html {
  background-color: black;
}

body {
  color: white;
  height: 100vh;
  /* needed to take up full page height */
  margin: 0 8px;
}

nav,
footer {
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
}

nav {
  justify-content: space-around;
}

footer {
  justify-content: space-between;
  padding: 0 2rem;
}

#logo {
  font-size: 2rem;
}

/* NAV LINKS */
nav>a:not(a:nth-child(3)) {
  padding: 10px;
  border-radius: 1rem;
  transition: background-color 1.6s ease-in-out;
  color: inherit;
  /* blue colors for links too */
  text-decoration: none;
  /* no underline */
}

nav>a:hover:not(a:nth-child(3)) {
  background-color: rgb(49, 46, 46);
}

/* NAV LOGO */
nav>a:nth-child(3) {}

nav>a:nth-child(3):hover {}

@media screen and (min-width: 500px) and (max-width: 799px) {
  nav>a:not(a:nth-child(3)) {
    padding: 1rem 2rem;
  }

  body {
    /*     background-color: blue; */
  }
}

@media screen and (min-width: 800px) {
  nav>a:not(a:nth-child(3)) {
    padding: 2rem 4rem;
  }
}