body,
html {
  background-color: black;
}

body {
  color: white;
  height: 100vh;
  /* needed to take up full page height */
  margin: 0 8px;
}

header,
footer {
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
}

header {
  justify-content: space-around;
}

footer {
  justify-content: space-between;
  padding: 0 2rem;
}

#logo {
  font-size: 2rem;
}

/* NAV LINKS */
header > a:not(a:nth-child(3)) {
  padding: 2rem 4rem;
  border-radius: 1rem;
  transition: background-color 1.6s ease-in-out;
  color: inherit; /* blue colors for links too */
  text-decoration: none; /* no underline */
}

header > a:hover:not(a:nth-child(3)) {
  background-color: rgb(49, 46, 46);
}

/* NAV LOGO */
header > a:nth-child(3) {
}

header > a:nth-child(3):hover {
}