body,
html {
  background-color: black;
}

body {
  color: white;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* needed to take up full page height */
  margin: 0 8px;
}

header,
main,
footer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

header {
  justify-content: space-around;
}

footer {
  justify-content: space-between;
  padding: 0 2rem;
}

#logo {
  font-size: 2rem;
}

main {
  /*! justify-content: space-around; */
  flex-direction: column;
}

.bio {
  display: block;
  width: 80vw;
  margin: 0px auto;
  font-size: 1.5rem;
}

.bio>h2 {
  font-size: 3.5rem;
}

.left-side {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-side {
  font-size: 3rem;
}

svg#workers {
  width: 100%;
  height: fit-content;
  max-width: 500px;
}

p {
  max-width: 980px;
}
